<h1>Lista de deputados</h1>

 <%= form_tag deputados_path, method: 'get', enforce_utf8: false do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag 'Procurar', name: nil %>
  <% end %>

<table class="table table-striped">
	<tr>
		<th>Foto</th>
		<th>Matricula</th>
		<th>Nome</th>
		<th>Partido</th>
		<th>E-mail</th>
		<th>Opções</th>
		<th>Valor</th>
	</tr>
	<% @deputados.each do |deputado| %>
		<tr>
			<td><%= image_tag(deputado.url_foto) %></td>
			<td><%= deputado.matricula %></td>
			<td><%= deputado.nome %></td>
			<td><%= deputado.partido %></td>
			<td><%= deputado.email %></td>
			<td><%= number_to_currency(deputado.total_despesas) %></td>
			<td>
				<%= link_to "Ver despesas", deputado,:class=>"btn btn-primary" %>
			</td>
		</tr>
	<% end %>
</table>

<div class="paginator-wrapper" >
	<%= will_paginate @deputados, renderer: BootstrapPagination::Rails %> 
</div>