<%= render partial: 'partials/search_cover' %>

<div id="search-page">

  <div class='container'>

    <div id="info" class="col-lg-12" >
      <h4 class="lead"> <b><%= @deputados.total_entries %></b> deputados foram encontrados para a pesquisa <b><%= params[:q] %></b> </h4>
    </div>

    <div class="col-lg-12">
      <div class="paginator-wrapper">
        <%= will_paginate @deputados, renderer: BootstrapPagination::Rails %>
      </div>
    </div>

    <section id="search-results" class="col-lg-8 col-lg-offset-2">
      <% @deputados.each do |deputado| %>
        <a class="row search-result" href="<%= deputado_path deputado %>">
          <div class="col-lg-3" >
            <div class="circle" >
              <%= image_tag deputado.url_foto  %>
            </div>
          </div>
          <div class="col-lg-5" >
            <h3 class="name" ><%= deputado.nome_parlamentar %></h3>
            <ul class="list-unstyled" >
              <li>Partido: <%= deputado.partido %></li>
              <li>Estado: <%= deputado.uf %></li>
              <% unless deputado.situacao_candidatura.nil? %>
                <li>Total de votos: <%= number_with_delimiter(deputado.total_votos) %></li>
              <% end %>
              <li><b>Despesas: <%= number_to_currency(deputado.total_despesas) %></b></li>
            </ul>
          </div>
          <div class="col-lg-4" >
                <span class="more-infos btn btn-primary" >
                  <i class="glyphicon glyphicon-search"></i> Ver despesas
                </span>
          </div>
        </a>
      <% end %>
    </section>

    <div class="col-lg-12">
      <div class="paginator-wrapper">
        <%= will_paginate @deputados, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
