<div id="politico">

  <div class='jumbotron'>
    <div class="container" >
      <div class="info">
        <center>
          <div class="circle">
            <img src="<%= @deputado.url_foto %>" alt="">
          </div>

          <h1><%= @deputado.nome.titleize_name %>

          <p class='situacao-partido-estado'>
            <%= "#{@deputado.partido}, #{@deputado.uf} - #{@deputado.situacao_candidatura}" %>
          </p>

          <div class='contato'>
            <span class='email'>
              <%= icon(:envelope) %> <%= mail_to(@deputado.email) %>
            </span>

            <div id="social" >
              <%= render(
                  partial: 'partials/social',
                  locals: { url: @opengraph[:url], description: @opengraph[:description] }
                )
              %>
            </div>
        </center>
      </div>
    </div>

    <div class='estatisticas'>
      <div class='container'>
        <center>
          <ul>
            <% unless @deputado.total_despesas.nil? %>
              <li>
                <p><%= number_to_currency(@deputado.total_despesas) %></p>
                <span>gastos (a partir de 01/01/2015)</span>
              </li>
            <% end %>

            <li>
              <p><%= number_with_delimiter(@deputado.total_votos) %></p>
              <span>votos</span>
            </li>

            <li>
              <p><%= number_to_percentage(@deputado.porcentagem_votos, precision: 2) %></p>
              <span>votos válidos</span>
            </li>
          </ul>
        </center>
      </div>
    </div>

  </div>

  <div id="expenses" class="container" >
    <small id="update-info text-right" >
      Última atualização em: <%= l @deputado.data_ultima_atualizacao, format: :short %>
    </small>

    <div class="col-lg-12" >
      <h3>Classificações de Despesas:</h3>
      <table class="table table-hover">
        <tr>
          <th>Descrição</th>
          <th style="text-align:right" >Valor líquido</th>
          <th style="text-align:right" >Valor total</th>
        </tr>
        <% @despesas.totais_por_descricao.each do |tipo| %>
          <tr>
            <td><%= tipo[:descricao] %></td>
            <td align="right" ><%= number_to_currency(tipo[:total_liquido]) %></td>
            <td align="right" ><%= number_to_currency(tipo[:total]) %>      </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="paginator-wrapper" >
    <%= link_to "Ver detalhes das despesas", deputado_despesas_path(@deputado), :class => "btn btn-primary btn-yellow" %>
  </div>

  <div class="container fonte-dados">
    <ul class="list-unstyled" >
      <li> <span class='label'>Fonte dos dados:</span>
        <ul>
          <li><%= link_to(nil, detalhe_deputado_url(@deputado.id_cadastro), target: '_blank') %></li>
          <li><%= link_to(nil, 'http://www.tse.jus.br/eleicoes/estatisticas/estatisticas-candidaturas-2014', target: '_blank') %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
