<% unless(params[:controller] == 'home') %>
  <li><%= link_to 'Início', root_path %></li>
<% end %>
<li><%= link_to 'Sobre o projeto',       'http://teresinahc.org/wiki/index.php/Projetos:Peba',  target: '_blank' %></li>
<li><%= link_to 'Teresina Hacker Clube', 'http://teresinahc.org',                               target: '_blank' %></li>
<li><%= link_to 'Github',                'https://github.com/teresinahc/camara_deputados_hack', target: '_blank' %></li>
<li><%= link_to 'Feedback',              'http://teresinahc.org/peba-feedback/',                target: '_blank' %></li>
