<nav class='navbar navbar-default hidden-xs hidden-sm'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='<%= root_path %>'>
        <%= image_tag 'peba_logo_navbar.png', alt: 'Peba' %>
      </a>
    </div>

    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav'>
        <li><%= link_to 'Sobre o projeto',       'http://teresinahc.org/wiki/index.php/Projetos:Peba',  target: '_blank' %></li>
        <li><%= link_to 'Teresina Hacker Clube', 'http://teresinahc.org',                               target: '_blank' %></li>
        <li><%= link_to 'Github',                'https://github.com/teresinahc/camara_deputados_hack', target: '_blank' %></li>
        <li><%= link_to 'Feedback',              'http://teresinahc.org/peba-feedback/',                target: '_blank' %></li>
      </ul>

      <div class='nav navbar-form navbar-right'>
        <% if(current_page?(controller: :home)) %>

          <%= render(
              partial: 'partials/social',
              locals: { url: @opengraph[:url], description: @opengraph[:description] }
            )
          %>

        <% else %>
          <%= link_to('Continue Cavando', aleatorio_path, class: 'btn btn-default btn-sm') %>
        <% end %>
      </div>

    </div>
  </div>
</nav>
