<div id="politico">

  <%= render partial: 'deputados/deputado', locals: { deputado: @deputado } %>

  <div id="despesas" class="container" >
    <div class="col-lg-12" >
      <h3 class='subtitle'>Detalhamento de Despesas</h3>

      <div id="filter" class="row" >
        <%= form_tag(deputado_despesas_path(@deputado.id), class: 'inline-form', method: 'get') do |f| %>
          <div class="col-lg-3" >
            <div class="form-group" >
              <label>Categoria</label>
              <%= select_tag('descricao',  options_for_select(@deputado.despesas.classificacoes, selected: params[:descricao]), include_blank: 'Todos', class: 'form-control', onchange: 'this.form.submit()') %>
            </div>
          </div>
          <div class="col-lg-2" >
            <div class="form-group" >
              <label for="">Ano</label>
              <%= select_year(params[:num_ano].to_i, {start_year: 2015, end_year: Date.today.year, prompt: 'Todos'}, name: 'num_ano', class: 'form-control', onchange: 'this.form.submit()') %>
            </div>
          </div>
          <div class="col-lg-2" >
            <div class="form-group" >
              <label for="">Mês</label>
              <%= select_month(params[:num_mes].to_i, {prompt: 'Todos'}, class: 'form-control', onchange: 'this.form.submit()', name: 'num_mes') %>
            </div>
          </div>
        <% end %>
      </div>

      <small id="update-info text-right" >
        Última atualização em: <%= l @deputado.data_ultima_atualizacao, format: :short %>
      </small>
      <div id="update-info text-right" >
        Total de despesas para o filtro atual: <b><%= number_to_currency(@despesas.total_of_cost) %></b>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th width='100'>Data</th>
            <th>Beneficiário</th>
            <th>CPF/CNPJ</th>
            <th>Valor líquido<small>*</small></th>
            <th>Valor de Glosa<small>**</small></th>
            <th >Valor do documento<small>***</small></th>
            <th align="center" >Comprovante</th>
          </tr>
        </thead>
        <tbody>
          <% @despesas.each do |despesa| %>
            <tr>
              <td><%= despesa.data_emissao.nil? ? '-' : despesa.data_emissao.to_time.strftime('%d/%m/%Y') %></td>
              <td><%= despesa.beneficiario %></td>
              <td><%= despesa.cpf_cnpj.empty? ? '-' :  despesa.cpf_cnpj %></td>
              <td align="right" ><%= number_to_currency(despesa.valor_liquido) %></td>
              <td align="right" ><%= number_to_currency(despesa.valor_glosa) %></td>
              <td align="right" ><%= number_to_currency(despesa.valor_documento) %></td>
              <td align="center" >
                <a href="<%= build_receipt(despesa.nu_deputado_id, despesa.num_ano, despesa.ide_documento) %>" target="_blank" >
                  <span class="glyphicon glyphicon-circle-arrow-down" ></span> Visualizar
                </a>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right"><b>Subtotal:</b></td>
            <td align="right"><b><%= number_to_currency(sum_partial_of_document_value(@despesas)) %></b></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="paginator-wrapper" >
    <%= will_paginate @despesas, renderer: BootstrapPagination::Rails, params: {:anchor => 'despesas'} %>

    <p><%= link_to icon('chevron-left') << "Voltar para Versão resumida", deputado_path(@deputado) %></p>
  </div>

  <div class="container fonte-dados">
    <ul class="list-unstyled" >
      <li> <span class='label'>Fonte dos dados:</span>
        <ul>
          <li><%= link_to(nil, cota_deputado_url(@deputado.id_cadastro), target: '_blank') %></li>
          <li><%= link_to(nil, 'http://www.tse.jus.br/eleicoes/estatisticas/estatisticas-candidaturas-2014', target: '_blank') %></li>
        </ul>
      </li>
    </ul>

    <p class="small">* <em>Valor líquido</em> é aquele que não possui descontos ou encargos.</p>
    <p class="small">** <em>Valor Glosado</em> é toda cobrança efetuada que não coincide com os acordos e regras firmadas entre o serviço contratado e a empresa contratante.</p>
    <p class="small">*** <em>Valor do documento</em> é o valor líquido acrescido do valor glosado.</p>
  </div>
</div>
