<!DOCTYPE html>
<html>
<head>
	<title>Peba - Indexador de dados públicos</title>
	<link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
	<%= stylesheet_link_tag    'search', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	
	<div id="credits" >
		<nav>
			<a href="#">Sobre o projeto</a>
			<a href="#">Teresina Hacker Clube</a>
			<a href="#">Github</a>
		</nav>
	</div>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
